@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  #wrap {
    width: 84%;
    max-width: 1280px;
    margin: 0 auto;
  }

header {
  background: sandybrown;
  color: #FFF;
  padding: 20px;
}
.main-menu {
  background: rgb(255, 228, 193);
}
.main-menu ul {
    display: flex;
    justify-content: center;
  }
  .main-menu ul li a {
    color: #FFF;
    display: block;
    padding: 10px 20px;
    transition-duration: 1s;
  }
  .main-menu ul li a:hover {
    background: burlywood;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
section {
  background: peachpuff;
  flex: 3;
  padding: 20px;
}
article {
  background: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}
aside {
  background: seashell;
  flex: 1;
}
.sub-menu {
  background: darkseagreen;
}
.sub-menu ul li a {
    color: #FFF;
    display: block;
    padding: 10px 20px;
    transition-duration: 1s;
  }
  .sub-menu ul li a:hover {
    background: seagreen;
  }
footer {
  background: sandybrown;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

article img {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
}

/*タブレット用*/
@media all and (max-width: 1024px) {
  #wrap {
    width: 100%;
  }
}

/*スマホ用*/
@media all and (max-width: 599px) {
  .main-menu ul {
    display: block;
  }

  .main-menu ul li {
    text-align: center;
  }

  main {
    display: block;
    flex-direction: unset;
  }

  .sub-menu ul li {
    text-align: center;
  }
}

/*コンピュータ用*/
 
/*タブレット用 1024px以下〜*/
@media all and (max-width: 1024px) {
 
}
 
/*スマホ用 599px以下〜*/
@media all and (max-width: 599px) {
 
}